.basket_container {
  height: 100%;

  .basket_contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 6em;

    .basket_header {
      display: flex;
      justify-content: flex-end;

      ol {
        display: flex;
        align-items: center;
        gap: 0.5em;

        .basket_location {
          font-size: 14px;
          color: #909090;
          padding-top: 0.3em;
        }

        .basket_home_button {
          border: white;
          background-color: white;
          font-size: 14px;
          color: #909090;
          cursor: pointer;
          padding-right: 0;
        }
      }
    }

    .basket_title {
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 42px;
      font-weight: bold;
      margin-top: 2em;
    }

    .product_basket {
      display: flex;
      flex-direction: column;
      margin-top: 2em;

      .product_basket_title {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 2px solid #1a1a1a;

        p {
          color: #909090;
          margin-bottom: 1em;
        }
      }

      .vacant_basket {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 30px;
        font-weight: blod;
        color: #909090;
        margin: 7em 0;
      }

      .delivery_wrapper {
        display: flex;
        flex-direction: column;

        .delivery_title {
          font-size: 20px;
          font-weight: bold;
          border-bottom: 2px solid #1a1a1a;
          padding-bottom: 0.5em;
          margin-bottom: 0.5em;
        }
      }

      .basket_delivery {
        display: flex;
        margin: 1em 0;

        ul {
          display: flex;
          flex-direction: row;
        }

        li {
          display: flex;
          justify-content: center;
          align-content: center;
          margin-right: 1em;
          width: 10em;
          border: 2px solid #ddd;
          border-radius: 20px;
          cursor: pointer;

          a {
            color: #1a1a1a;
            text-decoration: none;
            padding: 0.5em 0;
          }
        }
      }

      .basket_order_button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3em 0;
        gap: 2em;

        .order_select_item {
          width: 15em;
          height: 4em;
          font-size: 15px;
          font-weight: bold;
          background-color: #fff;
          border: 1px solid #ddd;
          cursor: pointer;
        }

        .continue_shopping {
          width: 15em;
          height: 4em;
          font-size: 15px;
          font-weight: bold;
          background-color: #fff;
          border: 1px solid #ddd;
          cursor: pointer;
        }

        .order_all_items {
          width: 15em;
          height: 4em;
          font-size: 15px;
          font-weight: bold;
          background-color: #1a1a1a;
          border: 1px solid #ddd;
          color: #ddd;
          cursor: pointer;
        }
      }

      .basket_amount {
        height: 6em;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #ddd;
        margin: 3em 0;

        .total_amount {
          display: flex;
          align-items: center;
        }

        tr {
          display: flex;
          gap: 5em;
          align-items: center;
        }

        td {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5em;

          p {
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
