.Options {
  font-family: 'Poppins';

  .code {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
  }

  .name {
    position: relative;
    line-height: 30px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #1a1a1a;
  }
  .price {
    margin-right: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #1a1a1a;
    hr {
      height: 0;
      border: 0;
      border-top: 1px solid lightgray;
    }
  }
  .choice_title {
    display: block;
    width: 100%;
    padding: 0px 0px;
    color: #1a1a1a;
    font-size: 14px;
    border: 0;
    padding-top: 19px;
  }

  button {
    margin-top: 10px;
    width: 60px;
    min-width: 28px;
    text-align: center;
    text-decoration: none;
    word-break: break-all;
    font-size: 12px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 6px 5px;
    margin-right: 5px;
  }

  .gray_btn {
    margin-top: 10px;
    width: 60px;
    min-width: 28px;
    text-align: center;
    text-decoration: none;
    word-break: break-all;
    font-size: 12px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 6px 5px;
    margin-right: 5px;
  }

  .null_btn {
    color: #909090;
    word-break: break-all;
    font-size: 13px;
    padding: 6px 0px;
    margin: 0px 0px 30px 0px;
  }

  .black_btn {
    margin-top: 10px;
    width: 60px;
    min-width: 28px;
    text-align: center;
    text-decoration: none;
    word-break: break-all;
    font-size: 12px;
    background-color: white;
    border: 2px solid black;
    padding: 6px 5px;
    margin-right: 5px;
  }

  hr {
    border: 0px;
    border-top: 1px solid black;
  }
  .cart_wrapper {
    font-weight: 400;
    font-size: 13px;
    padding: 21px 0px;

    .cart_color_size {
      width: 93px;
      font-weight: normal;
      color: #909090;
      line-height: 18px;
      font-size: 13px;
    }
    .count_sum {
      width: 75px;
    }
  }
  .cart_count_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    padding: 0px;

    .cart_color_size {
      width: 95px;
      font-weight: normal;
      color: #909090;
      line-height: 18px;
      font-size: 13px;
    }
  }

  .button_wrapper {
    button {
      width: 50px;
      margin: 0 auto;
      padding: 0 auto;
    }
    .plus {
      border: 0px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      border-right: 1px solid lightgray;
    }
    .count {
      height: 28.52px;
      border: 0px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      cursor: default;
    }
    .minus {
      border: 0px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      border-left: 1px solid lightgray;
    }
  }
  .hrr {
    height: 0;
    border: 0;
    border-top: 1px solid lightgray;
  }

  .sum_price_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    .sum_price_content {
      font-size: 15px;
      color: #1a1a1a;
      font-weight: 400;
      float: left;
    }
    .sum_price {
      font-size: 23px;
      color: #1a1a1a;
      font-weight: 500;
      padding-right: 5px;
    }
  }

  .button_wrapper_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 30px 0px;
  }
  .heart {
    text-align: center;
    width: 16.2%;
    height: 60px;
    border: 1px solid #c9c9c9;
    line-height: 60px;
    background-color: #fff;
    font-size: 16px;
    padding: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .cart {
    text-align: center;
    width: 39.2%;
    height: 60px;
    border: 1px solid #c9c9c9;
    line-height: 60px;
    background-color: #fff;
    font-size: 16px;
    padding: 0;
    display: block;
    cursor: pointer;
  }
  .buy {
    text-align: center;
    width: 39.2%;
    height: 60px;
    border: 1px solid #000;
    line-height: 60px;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    padding: 0;
    display: block;
    cursor: pointer;
  }
}
