.Main {
  position: relative;
  width: 100vw;
  height: 1500px;
  z-index: -1;

  .left_button {
    position: absolute;
    top: 2.5em;
    left: 0;
    font-size: 100px;
    z-index: 3;
    cursor: pointer;

    div:hover {
      background-color: white;
      color: blue;
    }
  }

  .right_button {
    top: 2.5em;
    left: 13.2em;
    position: absolute;
    font-size: 100px;
    z-index: 3;
    cursor: pointer;

    div:hover {
      background-color: white;
      color: blue;
    }
  }
}
