.Main {
  position: relative;
  width: 100vw;
  height: 2500px;
  left: 0;
  top: 0;
  .images {
    // width: ;
  }
  .left_button {
    position: absolute;
    top: 2.5em;
    left: 0;
    font-size: 100px;
    z-index: 3;
    cursor: pointer;
    color: red;

    &:hover {
      color: blue;
    }
  }

  .right_button {
    color: red;
    top: 2.5em;
    left: 13.2em;
    position: absolute;
    font-size: 100px;
    z-index: 3;
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    // width: 1380px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    background-color: yellow;
  }
  .up_button {
    position: fixed;
    right: 30px;
    bottom: 140px;
    font-size: 3em;
    transition-duration: 500ms;
    cursor: pointer;
  }
  .down_button {
    position: fixed;
    font-size: 3em;
    right: 30px;
    bottom: 80px;
    cursor: pointer;
  }
}
