.UpDownBtn {
  .up_button {
    position: fixed;
    right: 30px;
    bottom: 140px;
    font-size: 3em;
    transition-duration: 500ms;
    cursor: pointer;
    z-index: 23333222;
  }

  .down_button {
    position: fixed;
    font-size: 3em;
    right: 30px;
    bottom: 80px;
    cursor: pointer;
    z-index: 23333222;
  }
}
