.subject_wrapper {
  display: flex;
  justify-content: space-between;

  main {
    display: flex;
    justify-content: space-around;
    max-width: 2000px;
    padding: 70px;
  }

  .subjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: 30px;
  }
  .main_mid {
    max-width: 1165px;
    min-width: 1005px;
    width: 81%;
    float: right;

    h1 {
      padding-left: 30px;
      font-size: 20px;
      color: #1a1a1a;
      font-weight: 500;
    }
  }
}
