.ProductDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;

  main {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .product_detail_left {
      width: 850px;
    }
    .product_detail_right {
      width: 350px;
      margin: 20px;
    }
  }

  .start_wrapper {
    width: 600px;
    hr {
      height: 0;
      border: 0;
      border-top: 1px solid lightgray;
      margin: 20px;
    }
  }
  .review_submit_wrapper {
    position: relative;
    width: 1280px;
  }

  .review_submit {
    float: right;
    text-align: center;
    width: 95px;
    height: 40px;
    border: 1px solid #000;
    line-height: 20px;
    color: #fff;
    background-color: #000;
    font-size: 15px;
    padding: 0;
    display: block;
    cursor: pointer;
  }

  .hr_bottom {
    width: 1280px;
    height: 0;
    border: 0;
    border-top: 1px solid lightgray;
    margin: 15px;
  }
}
