.login_pages {
  height: 100%;

  .login_form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .loginform_border {
    width: 565px;
  }

  .loginform_inner {
    h1 {
      border-bottom: 3px solid #1d1d1b;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 1em;
    }

    .login_section {
      padding-top: 10px;
      margin-bottom: 10px;
      .information_text {
        font-size: 20px;
      }
    }

    .login_box {
      display: flex;
      flex-direction: column;
    }

    .login_input {
      border: 1px solid #e2e2e2;
      background-color: #fafafa;
      margin-bottom: 1.5em;

      .login_input_button {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        margin: 3em 0 1.5em 0;

        .userid_password {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          width: 70%;

          .user_id {
            padding: 0.5em;
          }

          .user_password {
            padding: 0.5em;
          }
        }
        .login_button {
          width: 6em;
          background-color: #333;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .save_userid {
    display: flex;
    margin-left: 2.2em;
    margin-bottom: 3em;

    input[type='checkbox'] {
      width: 1.5em;
      height: 1.5em;
    }

    .save_userid_text {
      display: flex;
      align-items: center;
      padding-left: 0.5em;
      font-size: 16px;
    }
  }

  .find_user_information_list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .find_list {
      display: flex;
      align-items: center;
      gap: 0.5em;

      .find_id {
        cursor: pointer;
      }

      .find_password {
        cursor: pointer;
      }
    }

    .join_the_membership {
      display: flex;
      align-items: center;
      gap: 0.5em;

      .join_membership {
        cursor: pointer;
      }
    }
  }
}
