.Footer {
  // padding: 0px 10px;
  height: 350px;
  // height: 60%;
  background-color: lightgrey;
  position: relative;
  z-index: -1;

  .about_company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .footer_section01 {
      font-size: 15px;
      width: 50%;
      // padding: 50px 0;
      position: absolute;
      top: 10px;
      left: 30px;
      .phone {
        padding: 10px 0px;
        font-weight: bold;
      }

      .work_time {
        padding: 3px 0px;
      }

      .email {
        padding: 3px 0px;
      }

      .company_info {
        padding-top: 50px;
      }
      .sns {
        display: flex;
        font-size: 30px;
        padding-top: 20px;
        div {
          padding: 10px;
          &:hover {
            cursor: pointer;
            color: grey;
            transform: scale(1.2);
          }
        }
      }
    }

    .footer_section02 {
      display: flex;
      align-items: baseline;
      padding: 5px 10px;
      text-align: right;
      font-size: 15px;
      position: absolute;
      top: 10px;
      right: 30px;

      .section02_01 {
        padding: 5px 10px;
        gap: 5px;
        > li {
          padding: 5px;
        }
      }

      .section02_02 {
        padding: 5px 10px;
        gap: 5px;
        > li {
          padding: 5px;
        }
      }

      .section02_03 {
        padding: 5px 10px;
        gap: 5px;
        > li {
          padding: 5px;
        }
      }
    }
  }

  .footer_section03 {
    position: absolute;
    bottom: 30px;
    width: 100%;
    border-top: 1px solid grey;
    padding-top: 15px;
    padding-left: 40px;
  }
}
