.Footer {
  padding: 0px 10px;
  border: 1px solid black;
  height: 200px;
  background-color: grey;

  .about_company {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer_section01 {
      font-size: 5px;

      .phone {
        padding: 10px 0px;
        font-weight: bold;
      }

      .work_time {
        padding: 3px 0px;
      }

      .email {
        padding: 3px 0px;
      }
    }

    .footer_section02 {
      display: flex;
      align-items: baseline;
      padding: 5px 10px;
      text-align: right;
      font-size: 3px;

      .section02_01 {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        gap: 5px;
      }

      .section02_02 {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        gap: 5px;
      }

      .section02_03 {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        gap: 5px;
      }
    }
  }

  .footer_section03 {
    border-top: 1px solid black;
  }
}
