.MainCarouselWapper {
  position: relative;
  overflow: hidden;

  .slideContainer {
    transition: transform 500ms;
    display: flex;

    .slideBox {
      width: 100vw;

      // float: left;

      .img {
        // width: 100%;
        // height: 768px;
        width: 100%;
        height: 70vh;
        // background-position: left center !important;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
    height: 10px;

    li {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 7px;
      cursor: pointer;

      button::before {
        position: absolute;
        // top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        border-radius: 100%;
        content: ''; /* ???????????? */
        background: rgba(0, 0, 0, 0.3);
      }

      .btnActive::before {
        background: black;
      }

      > button {
        width: 10px;
        height: 10px;
        padding: 7px;
        border: none;
        border-radius: 50%;
        background-color: transparent;
        color: transparent;
        cursor: pointer;
      }
    }
  }

  .slideBtn {
    position: absolute;
    width: 100%;
    top: 50%;

    .prevBtn {
      position: absolute;
      width: 80px;
      height: 80px;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      overflow: hidden;
      border: none;
      // transition: width 0.1s;
      text-align: left;

      &:hover {
        width: 100px;
      }

      .fa-chevron-left {
        padding-left: 10px;
        color: white;
        font-size: 50px;
      }
    }

    .nextBtn {
      position: absolute;
      width: 80px;
      height: 80px;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      overflow: hidden;
      border: none;
      // transition: width 0.1s;
      text-align: right;

      &:hover {
        width: 100px;
      }

      .fa-chevron-right {
        padding-right: 10px;
        color: white;
        font-size: 50px;
      }
    }
  }
}
