.Nav {
  position: fixed;
  background-color: transparent;
  border: 1px solid black;
  // min-height: 45px;
  width: 100%;
  padding: 5px 10px;
  color: white;
  &:hover {
    background-color: white;
    color: black;
    transition: color 0s, background-color 0.5s;
  }
  .Nav_wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 15px;
    .Nav_letters {
      cursor: pointer;
      display: flex;

      gap: 3em;

      .Nav_menu {
        display: flex;
        justify-content: space-between;
        // align-content: center;
        align-items: center;
        font-size: 10px;
        gap: 3em;

        .logo {
          padding: 5px 10px;
        }
        .Nav_menu_Festival {
          color: #586d94;
          font-weight: bold;
          font-size: 16px;
        }
        .Nav_menu_Outer {
          color: #946c58;
          font-weight: bold;
          font-size: 16px;
        }
        .Nav_menu_white {
          font-size: 16px;
          display: flex;
          // color: white;
          font-weight: bold;
          gap: 5px 30px;

          div:hover {
            cursor: pointer;
            color: grey;
          }
        }
      }
    }

    .profile {
      // border: 1px solid black;
      cursor: pointer;
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      font-size: 16px;
    }
  }
}
