.Searchbox {
  font-size: 20px;
  // height: 360px;
  height: 1100px;
  z-index: 1112222;
  padding: 30px 220px;
  // margin: 0 auto;
  // background-color: grey;
  // position: absolute;
  top: 3.8em;
  // width: 1379px;
  // left: 0px;
  transition: 500ms;
  width: 100%;

  // transform: translate(-50%, -50%);
  .greeting {
    // border: 1px solid black;
    padding: 1em 1em 1em 0.5em;
    font-weight: bold;
    .greeting_content {
      padding-bottom: 23px;
    }
  }
  .find {
    display: flex;
    background-color: white;
    font-weight: bold;
    position: relative;

    input {
      border: none;
      padding: 10px;
      font-size: 1em;
      width: 50em;
    }

    div {
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      cursor: pointer;
    }
  }
  .recommend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-top: 1px solid grey;

    .popular {
      // padding: 10px;
      width: 230px;
      font-size: 15px;
      .word {
        padding: 15px 0;
      }

      .ten_keywords span {
        padding: 5px;
        width: 500px;
      }
    }

    .images {
      // width: 45%;
      // position: absolute;
      // right: 17em;
      // transition: all 0.5s ease-in-out;
      padding: 10px;

      .recommend_pictures {
        display: flex;
        .recommend_each {
          padding: 10px;
        }
      }
    }
  }
}
