.Searchbox {
  font-size: 20px;
  // height: 360px;
  height: 1100px;
  z-index: 1112222;
  padding: 0 200px 50px 200px;
  // margin: 0 auto;
  // background-color: grey;
  // position: absolute;
  top: 3.8em;
  // width: 1379px;
  // left: 0px;
  transition: 500ms;
  width: 100%;

  // transform: translate(-50%, -50%);
  .greeting {
    // border: 1px solid black;
    padding: 1em 1em 1em 0.5em;
    font-weight: bold;
  }
  .find {
    display: flex;
    background-color: white;
    font-weight: bold;
    position: relative;

    input {
      border: none;
      padding: 10px;
      font-size: 1em;
      width: 50em;
    }

    div {
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      cursor: pointer;
    }
  }
  .recommend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-top: 1px solid grey;

    .popular {
      padding: 10px;
      // width: 200px;
      font-size: 15px;
      .word {
        padding: 15px;
      }

      .ten_keywords span {
        // display: block;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;
        width: 500px;
        // padding: 10px;

        flex-wrap: wrap;
      }
    }

    .images {
      position: absolute;
      right: 17em;
      padding: 10px;

      .recommend_pictures {
        display: flex;
        .recommend_each {
          padding: 10px;
        }
      }
    }
  }
}
