main {
  .detail_photo {
    width: 400px;
    object-fit: cover;
    margin: 5px;
  }

  .detail_content {
    font-family: '돋움', Helvetica, 'Apple SD Gothic Neo', Sans-serif;
    font-size: 12px;
  }
}
