.replys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
  margin-top: 2%;
  padding-top: 1%;
  width: 600px;
  height: 30px;

  .reply_left {
    font-size: 13px;
    width: 600px;
    .owner-id {
      padding-left: 5px;
      margin-top: 1px;
      margin-right: 6px;
      font-weight: bold;
    }
  }

  .delete_btn {
    height: 32px;
    border: 0px;
    background-color: white;
    color: lightgray;
    font-weight: 100;
    &:hover {
      color: black;
    }
  }

  .reply_btn :hover {
    color: #c41e1f;
  }
}
